@font-face {
    font-family: 'MagicCyr';
    src: url('../src/assets/Magic\ \ Cyr\ Remake\ 0.2.2.ttf');
}

html,
body {
    height: 100%;
    background: white;
    font-family: 'MagicCyr', sans-serif;
    font-weight: lighter;
    font-size: 22px;
}

* {
    box-sizing: border-box;
}